 body {

     margin: 0;
     font-family: Arial;
     background-color: #282c34
 }


 h1 {

     color: #ccc;
     margin-bottom: 40px;
     font-size: 2.1em;

 }


 button,
 .btn {

     border: none;
     background-color: white;
     color: black;
     padding: 10px;
     text-transform: capitalize;
     cursor: pointer;
     border-radius: 25px;

 }


 .container {

     width: 90%;
     outline: none;
     max-width: 500px;
     border: 1px solid #ccc;
     margin: 50px auto;
     padding: 50px;
     height: 580px;


 }


 .container form {
     display: flex;
     gap: 15px;

 }

 .container form>input {
     flex: 1;
     height: 35px;
     font-size: 1.2rem;
     outline: none;
     border: 1px solid #ccc;
     border-radius: 20px;
     padding: 0 10px;

 }


 .container ul {
     list-style: none;
     padding: 0;
 }


 .container li {

     margin: 10px 0;
     display: flex;
     gap: 5px;
     flex-wrap: wrap;
     min-height: 30px;
     background-color: #5DADF8;
     align-items: center;
     padding: 10px;
     border-radius: 25px;
     color: white;

 }

 .container li input {
     outline: none;
     border: 1px solid #ccc;
     height: 30px;
 }

 .container li input,
 .container li span {
     flex: 1;


 }


 .btn {
     min-width: 70px;
 }


 .btn-danger {
     background-color: rgb(255, 72, 72);
 }

 .btn-primary {
     background-color: teal;
 }

 .btn-success {
     background-color: rgb(60, 60, 254);
 }

 .btn-warning {
     background-color: rgb(251, 134, 0);
 }